@view-transition {
  navigation: auto;
}

/* :root {
  --main-color: #00bfe6;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: white;

}

h1 {
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 10px;
  line-height: 95px;
  padding: 10px;
  opacity: 0;
  margin-top: 25px;
  transform: translateY(60px);
  animation: slideToTop 1.2s ease-out forwards;
}

h2 {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 0px;
  line-height: 60px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 26px;
}

p {
  font-size: 18px;
  font-style: italic;
}

/* #navbar.scrolled #contactus {
  animation: bouncePulse 1s infinite;

}

@keyframes bouncePulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} */

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  position: relative;
  padding: 35px 20px;
}

#banner>.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;

}

/* Default navbar look */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  z-index: 1;
}

/* When scrolled — change everything: bg, text, and border */
#navbar.scrolled {
  backdrop-filter: blur(10px);
  background-color: #4d7a9dab !important;

}

/* Change text color when scrolled */
/* #navbar.scrolled .btn,
#navbar.scrolled .nav-link,
#navbar.scrolled .navbar-brand,
#navbar.scrolled .dropdown-item {
  color: #ffffff;
} */
a.dropdown-item {
    color: #0096ff;
}
#navbar:not(.scrolled) #navMenu {
  border-color: #ffffff6b;
}

/* Navbar */
#navbar {
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.navbar-nav .nav-item {
  margin: 0 5px;
}

.nav-btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 20px;
  color: white;
  transition: all 0.3s ease;
}
.nav-btn:hover {
  background-color: #041c31;
  color: white;
}
/* Contact Us Button */
#navbar  #contactus {
  background:linear-gradient(90deg,rgba(0, 150, 255, 1) 0%, rgba(0, 86, 147, 0.78) 49%, rgba(0, 150, 255, 1) 93%);
  box-shadow: 0px 0px 10px 0px #ffffff;
  background-size: 250% 250%;
   animation: bounceGradient 1s infinite;
   padding: 10px 30px;
}
	@keyframes bounceGradient {
  0% {
    transform: scale(1);
    background-position: 0% 50%;
  }

  50% {
    transform: scale(1.1);
    /* midpoint for background — optional */
    background-position: 82% 50%;
  }

  100% {
    transform: scale(1);
    background-position: 165% 50%;
  }
}

button#contactus {
  border: 1px solid #007ed7;
  border-radius: 50px;
  padding: 8px 20px;
  background: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

button#contactus:hover {
  background-color: #007ed7;
  box-shadow: 0 0 15px #007ed7;
  color: #fff;
  transform: scale(1.05);
}

/* Dropdown menu hover on desktop */
.navbar-nav .dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

.navbar-toggler-icon {
  scroll-behavior: smooth;
}

/* Change navbar on scroll */
#navbar.scrolled {
  background-color: #c7def0;
}

/* Hamburger icon */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* The nav menu border */
div#navMenu {
  border: 2px solid #ffffff6b;
  border-radius: 50px;
  padding: 10px 15px;
  transition: border-color 0.4s ease;
}

button#contactus {
  border: 2px solid #ffffff6b;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  background: none;
}

/* Form styles */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  background-color: #0096ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #041c31;
}

/* Banner */
#ashgard-home {
    padding: 300px 0;
    background: linear-gradient(rgb(4 95 193 / 69%), rgb(0 0 0 / 73%));
}

section#bg-banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg-banner.gif) no-repeat center;
  transition: padding 0.3s ease, background-position 0.3s ease;
  background-position: 0px -90px;
  background-size: 1900px;
}

#widget-container {
  padding: 10px 15px;
  border: 1px solid #555555;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00bfe6;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 1.2s forwards;
  /* delay so it comes after the box */
}

#ashgard-home p {
  opacity: 0;
  transform: translateY(60px);
  animation: slideToTop 2s ease-out forwards;

}

a.open-btn.btn-info.my-2 {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .8px;
  color: rgb(255, 255, 255);
  border: none;
    background: #0096ff;
    box-shadow: 2px 3px #a4a2a2;
    text-decoration: none;
}
a.open-btn.btn-info.my-2:hover {
  background-color: #041c31;
  box-shadow: 0px 0px 7PX 1px #a4a2a2;
}

#services-section {
  padding: 150px 0px;
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%), url(images/services-bg.jpg);
}

/* Sub Pages */
#sub-banner {
  transition: padding 0.3s ease, background-position 0.3s ease;
  background-position: 0 -400px;
  padding: 250px 0;
  background-size: cover;
    background-position-y: center;
  background-size: 1900px;
}

/* ABOUT */
section#btn-about-us {
  background: linear-gradient(2deg, rgb(0 0 0) 24%, rgb(19 19 19 / 90%) 71%);
}

div#column-right {
  width: 30%;
  margin: 0 30px;
}
div#column-right p {
    font-style: normal;
}
div#column-left,
#column-center {
  flex-direction: column;
  width: 35%;
  /* margin: 0 0 0 30px; */
}

.first-img {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%), url(images/mission.png);
  background-size: 1300px;
  padding: 0 40px 20px 40px;
  margin: 0 0 30px 30px;
  border-radius: 10px;
  height: 600px;
  align-content: end;
  background-repeat: no-repeat;
  background-position: center;
}

.second-img {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%), url(images/equip.jpg);
  background-size: 650px;
    padding: 0 40px 20px 40px;
    margin: 0 0 30px 30px;
    border-radius: 10px;
    height: 400px;
    align-content: end;
    background-repeat: no-repeat;
    background-position-y: center;
}

.third-img {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%), url(images/core.png);
  background-size: 650px;
    padding: 0 40px 20px 40px;
    margin: 0 0 30px 30px;
    border-radius: 10px;
    height: 500px;
    align-content: end;
    background-repeat: no-repeat;
    background-position-x: center;
}

.fourth-img {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%), url(images/vision.jpg);
  background-size: 900px;
  padding: 0 40px 20px 40px;
  margin: 0 0 30px 30px;
  border-radius: 10px;
  height: 500px;
  align-content: end;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* div#column-img-large {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%);
} */

/* div#column-img-small {
  background: linear-gradient(2deg, rgb(0 0 0 / 69%) 24%, rgba(20, 43, 61, 0.31) 71%);
} */

.sticky-top {
  position: sticky;
  top: 15%;
  z-index: 0;
}


.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in:nth-of-type(1) {
  transition-delay: 0.2s;
}

.fade-in:nth-of-type(2) {
  transition-delay: 0.4s;
}

.fade-in:nth-of-type(3) {
  transition-delay: 0.6s;
}

/* When the div becomes visible */
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hover */
.close:hover {
  color: #000;
}

.btn-info:hover {
  color: #000;
  background-color: #ffffff;
  border-color: none;
}

div#btn-services>div>div:hover {
  background: #007ed7;
  transform: scale(1.1);
}

div#btn-services>div>div {
  margin-right: 10px;
  padding: 60px 60px;
  transition: transform 0.2s;
}

div#column-img-large:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

div#column-img-small:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

/* Section Container */
#services-section {
  width: 100%;
}

/* Section Title */
#services-title {
  text-align: center;
  margin: 35px 0 60px 0;
  font-weight: 600;
  position: relative;
}

#services-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 20px;
}

/* Service Row (Grid Layout) */
#services-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Shared Styles for Each Service Box */
#services-row>div {
  padding: 103px 15px;
  /* background: transparent; */
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #00bfe6;

}

#services-row>div:hover a {
  color: #00bfe6;
}

#services-row a {
  color: #14151b00;
  font-weight: 600;
}

#services-row>div:hover {
  color: #ffffff;
    backdrop-filter: blur(10px);
    transform: scale(1.05);
        background: linear-gradient(182deg, rgba(0, 150, 255, 1) 0%, rgba(0, 86, 147, 0.78) 32%);
    border: none;

}

/* Icon Styling */
#services-row>div i {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 60px;
  transition: 0.5s;
}

#services-row>div:hover i {
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/* Headings */
#services-row>div h3 {
  font-weight: 600;
  margin-bottom: 20px;
}



i.fa.fa-cloud {
  font-size: 60px;
  color: lightblue;
  text-shadow: 2px 2px 4px #000000;
}

#navbar #contactus:hover {
    animation: none;
    background-color: #041c31;
}

.hover-container {
  position: relative;
  /* Important for positioning the hidden text */
  display: inline-block;
  /* Or block, depending on layout */
  padding: 10px;
  background-color: lightblue;
  cursor: pointer;
}

.hidden-text {
  visibility: hidden;
  /* Hide the text initially */
  opacity: 0;
  /* For a fade-in effect */
  position: absolute;
  top: 100%;
  /* Position below the container */
  left: 0;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 3px;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  /* Smooth transition */
}

.hover-container:hover .hidden-text {
  visibility: visible;
  opacity: 1;
}


/* FORM Section */
section#form-section {
  background: linear-gradient(2deg, rgb(0 0 0 / 79%) 24%, rgb(20 43 61 / 53%) 71%), url(images/about-img1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

div#form-column div {
  width: 100%;
}

div#form {
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: #ffffff36;
}

/* Footer Wrapper */
.footer {
  background: linear-gradient(2deg, rgb(0 0 0) 24%, rgb(19 19 19 / 90%) 71%);
}

.footer a {
  font-size: 16px;
  font-family: Arial, sans-serif !important;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  font-size: 16px;
  font-size: 16px;
  font-family: Arial, sans-serif !important;
  color: #4291e4;
  text-decoration: none;
}

/* MOBILE FIRST — stacked layout */
.footer-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.footer-container {
  font-size: 10px;
}

/* Left column */
.footer-left {
  text-align: center;
  width: 40%;
}

.footer-logo {
  width: 200px;
  max-width: 100%;
}

.company-name {
  margin-top: 10px;
  font-weight: 600;
}

/* Right column */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.contact-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.contact-icon {
  font-size: 22px;
  color: #007ed7;
}

/* Box animation */
@keyframes slideToTop {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Span text animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 15px;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 45px;
    line-height: 50px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  div#navMenu {
    position: absolute;
    top: 50px;
    left: -115px;
    background: #9dc4e8;
    box-shadow: none;
    border-radius: 10px;
  }

  #banner>.navbar {
    left: 90%;
  }

  #navbar.scrolled #navMenu {
    position: absolute;
    top: 50px;
    left: -115px;
    background: #c7def0;
    box-shadow: none;
    border-radius: 10px;
    border: 0px
  }

  #widget-container {
    font-size: 8px;
  }

  div#column-right {
    margin: auto;
    padding: 0px 30px;
  }

  div#column-left,
  div#column-center,
  div#column-right {
    width: 100%;
  }

  div#column-img-small,
  div#column-img-large {
    padding: 0 20px 20px 20px;
    height: 500px;
    margin: 0 30px 30px 30px;
  }

  #ashgard-home {
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 220px 0px;
    background-size: cover;
  }

  section#bg-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg-banner.gif) no-repeat center;

  }

  #services-section {
    padding: 150px 20px;
  }

  .contact-item {
    display: block;
    text-align: center;
  }

  /* Form-Section */
  div#form-column {
    flex-direction: column-reverse;
    padding: 0 20px;
  }

  .footer-container {
    flex-direction: column-reverse;
    /* ← side-by-side */
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    /* ← makes exactly 2 columns */
  }

  .footer-left {
    text-align: center;
  }

  .footer-logo {
    width: 240px;
  }

  .contact-icon {
    font-size: 27px;
    color: #007ed7;
    margin-bottom: 10px;
  }

  .navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
    background: none;
    border: none;
  }

}

@media (min-width: 770px) and (max-width: 990px) {
  h1 {
    font-size: 120px;
    line-height: 115px;
    margin-top: 20px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  #banner>.navbar {
    left: 90%;
  }

  div#navMenu {
    position: absolute;
    top: 50px;
    left: -64px;
    background: #007bffa6;
    box-shadow: none;
    border-radius: 10px;
  }

  #navbar.scrolled #navMenu {
    position: absolute;
    top: 50px;
    left: -64px;
    background: #c7def0;
    box-shadow: none;
    border-radius: 10px;
    border: 0px
  }

  .fa-map-marker:before {
    font-size: 35px;
  }

  div#column-left,
  div#column-center,
  div#column-right {
    width: 100%;
  }

  div#column-right {
    padding: 0px 30px;
    margin: auto;
  }
      div#column-img-small, div#column-img-large {
        padding: 0 20px 20px 20px;
        height: 500px;
        margin: 0 30px 30px 30px;
    }

  div#column-img-small {
    height: 500px;
    background-size: auto;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }

  #ashgard-home {
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 130px 0px;
    background-size: cover;
  }

  .navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
    background: none;
    border: none;
  }

}
